<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 08 Prediction Simulation

### Riccardo Spolaor (864877)

</center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
%store -r

In [3]:
dataframe = pd.read_csv('./datasets/dataframe05.csv', low_memory = False)
train_dataframe = pd.read_csv('./datasets/dataframe06.csv', low_memory = False)
pred_dataframe = pd.read_csv('./datasets/dataframe_pred.csv', low_memory = False)

In [4]:
pred_dataframe.columns

Index(['csvID', 'ATP', 'Location', 'Tournament', 'Series', 'Court', 'Round',
       'Best of', 'PtsFilledA', 'PtsFilledB', 'MaxFilledA', 'MaxFilledB',
       'AvgFilledA', 'AvgFilledB', 'Carpet', 'Clay', 'Grass', 'Hard',
       'FEDERER R.B', 'FERRER D.A', 'FERRER D.B', 'ROBREDO T.A', 'ROBREDO T.B',
       'NALBANDIAN D.B', 'DAVYDENKO N.A', 'DAVYDENKO N.B', 'OtherA', 'OtherB',
       'RankA>RankB', 'MaxA>MaxB', 'AvgA>AvgB', 'PtsA>PtsB',
       'OpponentsWRatioA>OpponentsWRatioB',
       'FadigueTournGamesA>FadigueTournGamesB',
       'FadigueTournSetsA>FadigueTournSetsB', 'RetiredLastA', 'RetiredLastB',
       'PlayedA>PlayedB', 'WonRatioA>WonRatioB', 'PlayedCourtA>PlayedCourtB',
       'WonRatioCourtA>WonRatioCourtB', '5_gamesMeanA>5_gamesMeanB',
       '5_setsMeanA>5_setsMeanB', 'PlayedVsSameHandedA>PlayedVsSameHandedB',
       'WonRatioVsSameHandedA>WonRatioVsSameHandedB', 'Winner'],
      dtype='object')

Prendo le informazioni dai dataset precedenti, fadigue A B non sono inseribili metto tutto a 0, tengo l'ultima media di game e set vinti dato che non posso calcolarli

In [67]:
def get_rank(p):
    wdf = dataframe[dataframe['Winner'] == p].tail(1)['WRank']
    ldf = dataframe[dataframe['Loser'] == p].tail(1)['LRank']
    if ldf.index.values > wdf.index.values:
        return ldf.values[0]
    else:
        return wdf.values[0]
    
def get_gamesMean(p):
    df = dataframe[dataframe['Winner'] == p].tail(5)[['W1', 'W2', 'W3', 'W4', 'W5']].append(
        dataframe[dataframe['Loser'] == p].tail(5)[['L1', 'L2', 'L3', 'L4', 'L5']].rename(
            columns = {'L1': 'W1', 'L2':'W2', 'L3':'W3', 'L4':'W4', 'L5':'W5'}))
    df.sort_index(inplace= True, axis = 1)
    return df.tail(5).sum(axis = 1).mean(axis = 0)

def get_setsMean(p):
    df = dataframe[dataframe['Winner'] == p].tail(5)[['W1', 'W2', 'W3', 'W4', 'W5']].append(
        dataframe[dataframe['Loser'] == p].tail(5)[['L1', 'L2', 'L3', 'L4', 'L5']].rename(
            columns = {'L1': 'W1', 'L2':'W2', 'L3':'W3', 'L4':'W4', 'L5':'W5'}))
    df.sort_index(inplace= True, axis = 1)
    return df.tail(5).sum(axis = 1).mean(axis = 0)

In [68]:
get_gamesMean('NADAL R.')

9.2

        W1   W2   W3   W4   W5
51913  7.0  6.0  0.0  0.0  0.0
51921  6.0  6.0  0.0  0.0  0.0
51926  7.0  6.0  0.0  0.0  0.0
51936  6.0  6.0  7.0  0.0  0.0
51940  6.0  6.0  7.0  0.0  0.0
50293  4.0  4.0  0.0  0.0  0.0
50429  4.0  6.0  3.0  0.0  0.0
50962  6.0  6.0  3.0  4.0  0.0
51928  0.0  0.0  0.0  0.0  0.0
51933  2.0  4.0  0.0  0.0  0.0

In [35]:
get_gamesMean('NADAL R.')

        W1   W2   W3   W4   W5
51913  7.0  6.0  0.0  0.0  0.0
51921  6.0  6.0  0.0  0.0  0.0
51926  7.0  6.0  0.0  0.0  0.0
51936  6.0  6.0  7.0  0.0  0.0
51940  6.0  6.0  7.0  0.0  0.0

        W1   W2   W3   W4   W5
50293  4.0  4.0  0.0  0.0  0.0
50429  4.0  6.0  3.0  0.0  0.0
50962  6.0  6.0  3.0  4.0  0.0
51928  0.0  0.0  0.0  0.0  0.0
51933  2.0  4.0  0.0  0.0  0.0

In [5]:
tournament_players = ['NADAL R.', 'FEDERER R.']

features_to_add_dict = {
    'csvID': dataframe['csvID'].max() + 1, 
    'ATP': 1, 
    'Location': ordered_locations['Melbourne'], 
    'Tournament': tournamentsDict['Australian Open'], 
    'Series': 4, 
    'Court': 1, 
    'Round': 0,
    'Best of': 5, 
    'PtsFilledA': 0, 
    'PtsFilledB': 0, 
    'MaxFilledA': 0, 
    'MaxFilledB': 0,
    'AvgFilledA': 0, 
    'AvgFilledB': 0, 
    'Carpet': 0, 
    'Clay': 0, 
    'Grass': 0, 
    'Hard': 1,
    'FEDERER R.B': np.nan, 
    'FERRER D.A': np.nan, 
    'FERRER D.B': np.nan, 
    'ROBREDO T.A': np.nan, 
    'ROBREDO T.B': np.nan,
    'NALBANDIAN D.B': np.nan, 
    'DAVYDENKO N.A': np.nan, 
    'DAVYDENKO N.B': np.nan, 
    'OtherA': np.nan, 
    'OtherB': np.nan,
    'RankA>RankB': np.nan, 
    'MaxA>MaxB': np.nan, 
    'AvgA>AvgB': np.nan, 
    'PtsA>PtsB': np.nan,
    'OpponentsWRatioA>OpponentsWRatioB': np.nan,
    'FadigueTournGamesA>FadigueTournGamesB': 0,
    'FadigueTournSetsA>FadigueTournSetsB': 0, 
    'RetiredLastA': np.nan, 
    'RetiredLastB': np.nan,
    'PlayedA>PlayedB': np.nan, 
    'WonRatioA>WonRatioB': np.nan, 
    'PlayedCourtA>PlayedCourtB': np.nan,
    'WonRatioCourtA>WonRatioCourtB': np.nan,  
    '5_gamesMeanA>5_gamesMeanB': np.nan,
    '5_setsMeanA>5_setsMeanB': np.nan, 
    'PlayedVsSameHandedA>PlayedVsSameHandedB': np.nan,
    'WonRatioVsSameHandedA>WonRatioVsSameHandedB': np.nan
}

players_stats = {
    
    p: {
        'Rank': get_rank(p),
        '5_gamesMean': get_gamesMean(p),
        '5_setsMean': get_setsMean(p),
    }
    
    for p in tournament_players
}

In [6]:
def getLastPlayer

dataframe[dataframe['Winner'] == 'NADAL R.']

,csvID,ATP,Location,Tournament,Date,Series,Court,Round,Best of,Winner,...,5_gamesMeanA>5_gamesMeanB,5_setsMeanA>5_setsMeanB,HandA,HandB,PlayedVsSameHandedA,PlayedVsSameHandedB,WonRatioVsSameHandedA,WonRatioVsSameHandedB,PlayedVsSameHandedA>PlayedVsSameHandedB,WonRatioVsSameHandedA>WonRatioVsSameHandedB
3994,1,26.0,11,0,2002-04-29,0,1,0,3.0,NADAL R.,...,0,0,1,0,0,2,0.000000,0.500000,0,0
6717,2,23.0,104,17,2003-04-15,2,1,0,3.0,NADAL R.,...,0,0,1,0,2,10,0.500000,0.400000,0,1
6731,2,23.0,104,17,2003-04-16,2,1,1,3.0,NADAL R.,...,0,0,1,0,3,10,0.666667,0.800000,0,0
6775,2,24.0,101,0,2003-04-22,1,1,0,3.0,NADAL R.,...,1,1,1,0,5,3,0.600000,0.333333,1,1
6973,2,29.0,98,0,2003-05-12,2,1,0,3.0,NADAL R.,...,1,1,1,0,7,4,0.571429,0.500000,1,1
7002,2,29.0,98,0,2003-05-14,2,1,1,3.0,NADAL R.,...,0,0,1,0,8,23,0.625000,0.826087,0,0
7337,2,36.0,109,25,2003-06-23,4,1,0,5.0,NADAL R.,...,0,0,1,0,10,3,0.600000,0.666667,1,0
7401,2,36.0,109,25,2003-06-25,4,1,1,5.0,NADAL R.,...,0,1,1,0,11,1,0.636364,0.000000,1,1
7469,2,37.0,73,0,2003-07-08,0,1,0,3.0,NADAL R.,...,0,0,1,0,13,21,0.615385,0.380952,0,1
7478,2,37.0,73,0,2003-07-09,0,1,1,3.0,NADAL R.,...,1,1,1,0,14,12,0.642857,0.416667,1,1
7595,2,41.0,94,0,2003-07-15,1,1,0,3.0,NADAL R.,...,1,1,1,0,16,0,0.625000,0.000000,1,1
7736,2,44.0,75,0,2003-07-22,0,1,0,3.0,NADAL R.,...,1,1,1,0,18,13,0.611111,0.461538,1,1
7743,2,44.0,75,0,2003-07-23,0,1,1,3.0,NADAL R.,...,1,1,1,1,0,4,0.000000,0.250000,0,0
7751,2,44.0,75,0,2003-07-25,0,1,5,3.0,NADAL R.,...,0,1,1,0,19,13,0.631579,0.307692,1,1
8079,2,51.0,108,24,2003-08-27,4,1,0,5.0,NADAL R.,...,1,1,1,0,21,14,0.619048,0.714286,1,0
8785,3,4.0,74,0,2004-01-13,0,1,0,3.0,NADAL R.,...,0,0,1,0,26,25,0.538462,0.680000,1,0
8794,3,4.0,74,0,2004-01-14,0,1,1,3.0,NADAL R.,...,0,0,1,0,27,6,0.555556,0.666667,1,0
8796,3,4.0,74,0,2004-01-15,0,1,5,3.0,NADAL R.,...,1,0,1,0,28,4,0.571429,1.000000,1,0
8799,3,4.0,74,0,2004-01-16,0,1,6,3.0,NADAL R.,...,0,0,1,0,29,23,0.586207,0.739130,1,0
8880,3,6.0,107,22,2004-01-20,4,1,0,5.0,NADAL R.,...,0,1,1,0,31,3,0.580645,0.333333,1,1
8914,3,6.0,107,22,2004-01-22,4,1,1,5.0,NADAL R.,...,0,1,1,0,32,1,0.593750,1.000000,1,0
8971,3,7.0,34,0,2004-02-11,0,0,0,3.0,NADAL R.,...,1,1,1,0,34,3,0.588235,0.333333,1,1
9250,3,16.0,70,0,2004-03-02,1,1,0,3.0,NADAL R.,...,1,1,1,0,36,20,0.583333,0.650000,1,0
9256,3,16.0,70,0,2004-03-03,1,1,1,3.0,NADAL R.,...,1,1,1,0,37,16,0.594595,0.625000,1,0
9319,3,18.0,105,0,2004-03-13,2,1,0,3.0,NADAL R.,...,1,1,1,0,39,12,0.589744,0.500000,1,1
9355,3,18.0,105,0,2004-03-14,2,1,1,3.0,NADAL R.,...,1,1,1,0,40,21,0.600000,0.571429,1,1
9434,3,19.0,106,0,2004-03-26,2,1,1,3.0,NADAL R.,...,0,1,1,1,2,10,0.500000,0.500000,0,0
9467,3,19.0,106,0,2004-03-29,2,1,2,3.0,NADAL R.,...,0,0,1,0,42,29,0.595238,0.862069,1,0
9505,3,20.0,51,0,2004-04-14,0,1,0,3.0,NADAL R.,...,0,1,1,1,3,11,0.666667,0.454545,0,1
9513,3,20.0,51,0,2004-04-15,0,1,1,3.0,NADAL R.,...,0,0,1,0,44,3,0.590909,1.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50485,18,29.0,102,12,2019-05-19,2,1,7,3.0,NADAL R.,...,0,0,1,0,999,142,0.819820,0.760563,1,1
50567,18,32.0,110,23,2019-05-27,4,1,0,5.0,NADAL R.,...,0,1,1,0,1000,7,0.820000,0.571429,1,1
50606,18,32.0,110,23,2019-05-29,4,1,1,5.0,NADAL R.,...,1,1,1,0,1001,3,0.820180,1.000000,1,0
50641,18,32.0,110,23,2019-05-31,4,1,2,5.0,NADAL R.,...,1,1,1,0,1002,55,0.820359,0.672727,1,1
50654,18,32.0,110,23,2019-06-02,4,1,3,5.0,NADAL R.,...,0,1,1,0,1003,6,0.820538,0.833333,1,0
50661,18,32.0,110,23,2019-06-04,4,1,5,5.0,NADAL R.,...,0,1,1,0,1004,69,0.820717,0.695652,1,1
50664,18,32.0,110,23,2019-06-07,4,1,6,5.0,NADAL R.,...,0,0,1,0,1005,154,0.820896,0.805195,1,1
50666,18,32.0,110,23,2019-06-09,4,1,7,5.0,NADAL R.,...,0,0,1,0,1006,65,0.821074,0.600000,1,1
50890,18,39.0,109,25,2019-07-02,4,1,0,5.0,NADAL R.,...,1,1,1,0,1007,17,0.821251,0.352941,1,1
50930,18,39.0,109,25,2019-07-04,4,1,1,5.0,NADAL R.,...,1,1,1,0,1008,34,0.821429,0.647059,1,1
50946,18,39.0,109,25,2019-07-06,4,1,2,5.0,NADAL R.,...,1,1,1,0,1009,80,0.821606,0.762500,1,1
50950,18,39.0,109,25,2019-07-08,4,1,3,5.0,NADAL R.,...,1,1,1,0,1010,52,0.821782,0.461538,1,1
50960,18,39.0,109,25,2019-07-10,4,1,5,5.0,NADAL R.,...,1,1,1,0,1011,84,0.821958,0.630952,1,1
51260,18,49.0,85,20,2019-08-07,2,1,1,3.0,NADAL R.,...,1,1,1,0,1013,18,0.821323,0.555556,1,1
51276,18,49.0,85,20,2019-08-08,2,1,2,3.0,NADAL R.,...,1,1,1,1,113,26,0.858407,0.500000,1,1
51281,18,49.0,85,20,2019-08-09,2,1,5,3.0,NADAL R.,...,1,1,1,0,1014,101,0.821499,0.534653,1,1
51284,18,49.0,85,20,2019-08-11,2,1,6,3.0,NADAL R.,...,0,0,1,0,1015,85,0.821675,0.576471,1,1
51285,18,49.0,85,20,2019-08-11,2,1,7,3.0,NADAL R.,...,0,0,1,0,1016,23,0.821850,0.521739,1,1
51450,18,52.0,108,24,2019-08-28,4,1,0,5.0,NADAL R.,...,0,1,1,0,1017,18,0.822026,0.444444,1,1
51482,18,52.0,108,24,2019-08-30,4,1,1,5.0,NADAL R.,...,0,1,1,0,1018,4,0.822200,0.000000,1,1
51493,18,52.0,108,24,2019-08-31,4,1,2,5.0,NADAL R.,...,0,0,1,1,114,24,0.859649,0.583333,1,1
51507,18,52.0,108,24,2019-09-03,4,1,3,5.0,NADAL R.,...,0,0,1,0,1019,101,0.822375,0.742574,1,1
51511,18,52.0,108,24,2019-09-05,4,1,5,5.0,NADAL R.,...,0,0,1,0,1020,52,0.822549,0.634615,1,1
51513,18,52.0,108,24,2019-09-07,4,1,6,5.0,NADAL R.,...,0,0,1,0,1021,6,0.822723,0.500000,1,1
51514,18,52.0,108,24,2019-09-08,4,1,7,5.0,NADAL R.,...,0,0,1,0,1022,27,0.822896,0.555556,1,1
51913,18,65.0,110,19,2019-10-30,2,0,1,3.0,NADAL R.,...,1,1,1,1,115,47,0.860870,0.531915,1,1
51921,18,65.0,110,19,2019-10-31,2,0,2,3.0,NADAL R.,...,1,1,1,0,1023,105,0.823069,0.619048,1,1
51926,18,65.0,110,19,2019-11-01,2,0,5,3.0,NADAL R.,...,1,1,1,0,1024,81,0.823242,0.753086,1,1
51936,18,66.0,109,21,2019-11-13,3,0,4,3.0,NADAL R.,...,0,0,1,0,1026,29,0.822612,0.551724,1,1
51940,18,66.0,109,21,2019-11-15,3,0,4,3.0,NADAL R.,...,0,0,1,0,1027,16,0.822785,0.562500,1,1