<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 03 Building The Prediction Model

### Riccardo Spolaor (864877)

</center>

Modifico il dataframe in modo da poter ottenere un modello adatto alla predizione:
* Rinomino ***Winner*** in ***PlayerA*** e ***Loser*** in ***PlayerB***;
* Rinomino tutte le colonne con informazioni legate al vincitore e al perdente in modo da riflettere il legame ai nuovi nomi assegnati;
* Creo la colonna ***Winner*** che assume i valori:
    * 0 se ha vinto ***PlayerA***;
    * 1 se ha vinto ***PlayerB***;
* Assegno a ***Winner*** tutti valori 0;
* Duplico il dataframe e faccio lo swapping tra tutte le colonne con informazioni sul Giocatore A e quelle con informazioni sul Giocatore B;
* Assegno il valore 1 a ogni entry della colonna ***Winner*** del nuovo dataframe;
* Unisco i due dataframe.

In [29]:
import pandas as pd

In [30]:
dataframe = pd.read_csv('./datasets/dataframe02.csv', low_memory = False)

In [31]:
dataframe.columns

Index(['csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court',
       'Round', 'Best of', 'Winner',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=101)

In [32]:
def renameColumns():
    dataframe.rename(columns={'Winner':'PlayerA', 
                          'Loser':'PlayerB',
                          'WRank':'RankA',
                          'WRankAdded':'RankFilledA',
                          'LRank':'RankB',
                          'LRankAdded':'RankFilledB',
                          'W1':'1A',
                          'L1':'1B',
                          'W2':'2A',
                          'L2':'2B',
                          'W3':'3A',
                          'L3':'3B',
                          'W4':'4A',
                          'L4':'4B',
                          'W5':'5A',
                          'L5':'5B',
                          'Wsets':'setsA',
                          'Lsets':'setsB',
                          'WPts':'PtsA',
                          'LPts':'PtsB',
                          'WPtsAdded':'PtsFilledA',
                          'LPtsAdded':'PtsFilledB',
                          'MaxW':'MaxA',
                          'MaxWAdded':'MaxFilledA',
                          'MaxL':'MaxB',
                          'MaxLAdded':'MaxFilledB',
                          'AvgW':'AvgA',
                          'AvgWAdded':'AvgFilledA',
                          'AvgL':'AvgB',
                          'AvgLAdded':'AvgFilledB',
                          'MinW':'MinA',
                          'MinL':'MinB',
                         }, inplace = True)
    dataframe.insert(0, column ='Winner', value = 0)

In [33]:
renameColumns()
dataframe.columns

Index(['Winner', 'csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series',
       'Court', 'Round', 'Best of',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=102)

In [34]:
def getInvertedDataFrame(colToInvert):
    
    players = dataframe['PlayerA'].value_counts().subtract(
        dataframe['PlayerB'].value_counts(), fill_value = 0).sort_values(ascending = False).index.tolist()[:25]
    
    colToInvert += players
    
    dataframeInverted = dataframe.copy(deep = True)

    dataframeInverted['Winner'] = 1
    
    for f in colToInvert:
        dataframeInverted[[f+'A', f+'B']] = dataframeInverted[[f+'B', f+'A']]
    
    return dataframeInverted

In [35]:
dataframeInverted = getInvertedDataFrame(['Player', 'Rank', 'RankFilled', 'Pts', 'PtsFilled', '1', 
                   '2', '3', '4', '5', 'sets', 'Max', 'Avg', 'Other', 'MaxFilled', 'AvgFilled'])

In [36]:
dataframeInverted.head()

,Winner,csvID,ATP,Location,Tournament,Date,Series,Court,Round,Best of,...,Isner J.A,Isner J.B,Moya C.A,Moya C.B,Davydenko N.A,Davydenko N.B,Gonzalez F.A,Gonzalez F.B,OtherA,OtherB
0,1,0,1.0,2,0,2001-01-01,0,1,0,3.0,...,0,0,0,0,0,0,0,0,1,1
1,1,0,1.0,2,0,2001-01-01,0,1,0,3.0,...,0,0,0,0,0,0,0,0,1,1
2,1,0,1.0,2,0,2001-01-01,0,1,0,3.0,...,0,0,0,0,0,0,0,0,1,0
3,1,0,1.0,2,0,2001-01-01,0,1,0,3.0,...,0,0,0,0,0,0,0,0,1,1
4,1,0,1.0,2,0,2001-01-01,0,1,0,3.0,...,0,0,0,0,0,0,0,0,1,0

In [37]:
dataframe = dataframe.append(dataframeInverted, sort = False, ignore_index = True)

In [38]:
def sortMatchesByDate ():
    dataframe['Index'] = dataframe.index
    dataframe.sort_values(['Date','Index'],inplace = True)
    dataframe.drop('Index', axis=1, inplace = True)
    
sortMatchesByDate()

In [39]:
dataframe.columns

Index(['Winner', 'csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series',
       'Court', 'Round', 'Best of',
       ...
       'Isner J.A', 'Isner J.B', 'Moya C.A', 'Moya C.B', 'Davydenko N.A',
       'Davydenko N.B', 'Gonzalez F.A', 'Gonzalez F.B', 'OtherA', 'OtherB'],
      dtype='object', length=102)

In [40]:
dataframe.drop(['Date', '1A', '1B', '2A', '2B', '3A', '3B', '4A', 
                '4B', '5A', '5B', 'setsA', 'setsB', 'Awarded', 'Completed',
       'Disqualified', 'Retired', 'Sched', 'Walkover'], axis = 1, inplace = True)

In [41]:
dataframe = dataframe.reset_index(drop = True)
dataframe.head()

,Winner,csvID,ATP,Location,Tournament,Series,Court,Round,Best of,PlayerA,...,Isner J.A,Isner J.B,Moya C.A,Moya C.B,Davydenko N.A,Davydenko N.B,Gonzalez F.A,Gonzalez F.B,OtherA,OtherB
0,0,0,1.0,2,0,0,1,0,3.0,Clement A.,...,0,0,0,0,0,0,0,0,1,1
1,0,0,1.0,2,0,0,1,0,3.0,Goldstein P.,...,0,0,0,0,0,0,0,0,1,1
2,0,0,1.0,2,0,0,1,0,3.0,Haas T.,...,0,0,0,0,0,0,0,0,0,1
3,0,0,1.0,2,0,0,1,0,3.0,Henman T.,...,0,0,0,0,0,0,0,0,1,1
4,0,0,1.0,2,0,0,1,0,3.0,Hewitt L.,...,0,0,0,0,0,0,0,0,0,1

In [42]:
dataframe.to_csv('./datasets/dataframe03.csv', index = False)