<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 04 Building The Prediction Model

### Riccardo Spolaor (864877)

</center>

Modifico il dataframe in modo da poter ottenere un modello adatto alla predizione:
* Rinomino ***Winner*** in ***PlayerA*** e ***Loser*** in ***PlayerB***;
* Rinomino tutte le colonne con informazioni legate al vincitore e al perdente in modo da riflettere il legame ai nuovi nomi assegnati;
* Creo la colonna ***Winner*** che assume i valori:
    * 0 se ha vinto ***PlayerA***;
    * 1 se ha vinto ***PlayerB***;
* Assegno a ***Winner*** tutti valori 0;
* Duplico il dataframe e faccio lo swapping tra tutte le colonne con informazioni sul Giocatore A e quelle con informazioni sul Giocatore B;
* Assegno il valore 1 a ogni entry della colonna ***Winner*** del nuovo dataframe;
* Unisco i due dataframe.

In [18]:
%store -r
%store -d dataframe
%store

Stored variables and their in-db values:
leLocation                  -> LabelEncoder()
leTournament                -> LabelEncoder()
playerFromValue             -> {0: 'Gabashvili T.', 1: 'Rochus C.', 2: 'Gimeno-Tr
valueFromPlayer             -> {'Gabashvili T.': 0, 'Rochus C.': 1, 'Gimeno-Trave

In [19]:
dataframe.columns

Index(['csvID', 'ATP', 'Location', 'Tournament', 'Series', 'Round',
       'RoundRobin', 'Best of', 'Winner', 'Loser', 'WPlayed', 'LPlayed',
       'WWinRatio', 'LWinRatio', 'WLossRatio', 'LLossRatio', 'WRank',
       'WRankAdded', 'LRank', 'LRankAdded', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3',
       'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets', 'WPts', 'WPtsAdded', 'LPts',
       'LPtsAdded', 'MaxW', 'MaxL', 'AvgW', 'AvgL', 'MinW', 'MinL', 'Indoor',
       'Outdoor', 'Carpet', 'Clay', 'Grass', 'Hard', 'Awarded', 'Completed',
       'Disqualified', 'Retired', 'Sched', 'Walkover', 'Day', 'Month', 'Year'],
      dtype='object')

In [20]:
dataframe.rename(columns={'Winner':'PlayerA', 
                          'Loser':'PlayerB',
                          'WRank':'ARank',
                          'WRankAdded':'ARankFilled',
                          'LRank':'BRank',
                          'LRankAdded':'BRankFilled',
                          'W1':'A1',
                          'L1':'B1',
                          'W2':'A2',
                          'L2':'B2',
                          'W3':'A3',
                          'L3':'B3',
                          'W4':'A4',
                          'L4':'B4',
                          'W5':'A5',
                          'L5':'B5',
                          'Wsets':'Asets',
                          'Lsets':'Bsets',
                          'WPts':'APts',
                          'LPts':'BPts',
                          'WPtsAdded':'APtsFilled',
                          'LPtsAdded':'BPtsFilled',
                          'MaxW':'MaxA',
                          'MaxL':'MaxB',
                          'AvgW':'AvgA',
                          'AvgL':'AvgB',
                          'MinW':'MinA',
                          'MinL':'MinB',
                          'WPlayed':'APlayed',
                          'LPlayed': 'BPlayed',
                          'WWinRatio': 'AWinRatio', 
                          'LWinRatio': 'BWinRatio',
                          'WLossRatio': 'ALossRatio',
                          'LLossRatio': 'BLossRatio',
                         }, inplace = True)

dataframe.insert(0, column ='Winner', value = 0)

In [21]:
dataframe.head()

,Winner,csvID,ATP,Location,Tournament,Series,Round,RoundRobin,Best of,PlayerA,...,Hard,Awarded,Completed,Disqualified,Retired,Sched,Walkover,Day,Month,Year
0,0,0,1.0,2,0,1,1,0,3.0,1120,...,1,0,1,0,0,0,0,1,1,2001
1,0,0,1.0,2,0,1,2,0,3.0,1109,...,1,0,1,0,0,0,0,1,1,2001
2,0,0,1.0,2,0,1,2,0,3.0,1120,...,1,0,1,0,0,0,0,1,1,2001
3,0,0,1.0,2,0,1,2,0,3.0,959,...,1,0,1,0,0,0,0,1,1,2001
4,0,0,1.0,2,0,1,5,0,3.0,1109,...,1,0,1,0,0,0,0,1,1,2001

In [22]:
dataframeInverted = dataframe.copy(deep = True)

dataframeInverted['Winner'] = 1
dataframeInverted[['PlayerA', 'PlayerB']] = dataframeInverted[['PlayerB', 'PlayerA']]
dataframeInverted[['ARank', 'BRank']] = dataframeInverted[['BRank', 'ARank']]
dataframeInverted[['ARankFilled', 'BRankFilled']] = dataframeInverted[['BRankFilled', 'ARankFilled']]
dataframeInverted[['A1', 'B1']] = dataframeInverted[['B1', 'A1']]
dataframeInverted[['A2', 'B2']] = dataframeInverted[['B2', 'A2']]
dataframeInverted[['A3', 'B3']] = dataframeInverted[['B3', 'A3']]
dataframeInverted[['A4', 'B4']] = dataframeInverted[['B4', 'A4']]
dataframeInverted[['A5', 'B5']] = dataframeInverted[['B5', 'A5']]
dataframeInverted[['Asets', 'Bsets']] = dataframeInverted[['Bsets', 'Asets']]
dataframeInverted[['APts', 'BPts']] = dataframeInverted[['BPts', 'APts']]
dataframeInverted[['APtsFilled', 'BPtsFilled']] = dataframeInverted[['BPtsFilled', 'APtsFilled']]
dataframeInverted[['MaxA', 'MaxB']] = dataframeInverted[['MaxB', 'MaxA']]
dataframeInverted[['AvgA', 'AvgB']] = dataframeInverted[['AvgB', 'AvgA']]
dataframeInverted[['MinA', 'MinB']] = dataframeInverted[['MinB', 'MinA']]
dataframeInverted[['APlayed', 'BPlayed']] = dataframeInverted[['BPlayed', 'APlayed']]
dataframeInverted[['AWinRatio', 'BWinRatio']] = dataframeInverted[['BWinRatio', 'AWinRatio']]
dataframeInverted[['ALossRatio', 'BLossRatio']] = dataframeInverted[['BLossRatio', 'ALossRatio']]

In [23]:
dataframeInverted.head()

,Winner,csvID,ATP,Location,Tournament,Series,Round,RoundRobin,Best of,PlayerA,...,Hard,Awarded,Completed,Disqualified,Retired,Sched,Walkover,Day,Month,Year
0,1,0,1.0,2,0,1,1,0,3.0,110,...,1,0,1,0,0,0,0,1,1,2001
1,1,0,1.0,2,0,1,2,0,3.0,460,...,1,0,1,0,0,0,0,1,1,2001
2,1,0,1.0,2,0,1,2,0,3.0,13,...,1,0,1,0,0,0,0,1,1,2001
3,1,0,1.0,2,0,1,2,0,3.0,174,...,1,0,1,0,0,0,0,1,1,2001
4,1,0,1.0,2,0,1,5,0,3.0,1120,...,1,0,1,0,0,0,0,1,1,2001

In [24]:
from sklearn.utils import shuffle

dataframe = dataframe.append(dataframeInverted, sort = False, ignore_index = True)
dataframe = shuffle(dataframe)

In [25]:
dataframe.head(10)

,Winner,csvID,ATP,Location,Tournament,Series,Round,RoundRobin,Best of,PlayerA,...,Hard,Awarded,Completed,Disqualified,Retired,Sched,Walkover,Day,Month,Year
52249,1,2,64.0,93,175,1,1,0,3.0,1108,...,1,0,1,0,0,0,0,21,10,2003
30770,0,12,39.0,71,80,1,2,0,3.0,1111,...,0,0,1,0,0,0,0,10,7,2013
62824,1,6,53.0,17,132,1,1,0,3.0,1056,...,0,0,1,0,0,0,0,10,9,2007
43695,0,17,37.0,79,2,2,5,0,3.0,321,...,0,0,1,0,0,0,0,22,6,2018
88387,1,16,33.0,76,68,5,3,0,5.0,1062,...,0,0,1,0,0,0,0,2,6,2017
46021,0,18,30.0,35,73,1,2,0,3.0,386,...,0,0,1,0,0,0,0,21,5,2019
51997,1,2,55.0,75,34,1,1,0,3.0,73,...,0,0,1,0,0,0,0,23,9,2003
78540,1,12,48.0,65,160,3,3,0,3.0,1123,...,1,0,1,0,0,0,0,8,8,2013
31973,0,13,6.0,58,17,5,2,0,5.0,63,...,1,0,1,0,0,0,0,16,1,2014
47140,0,18,56.0,110,205,1,7,0,3.0,1060,...,1,0,1,0,0,0,0,29,9,2019

In [26]:
%store dataframe
%store

Stored 'dataframe' (DataFrame)
Stored variables and their in-db values:
dataframe                   ->        Winner  csvID   ATP  Location  Tournament
leLocation                  -> LabelEncoder()
leTournament                -> LabelEncoder()
playerFromValue             -> {0: 'Gabashvili T.', 1: 'Rochus C.', 2: 'Gimeno-Tr
valueFromPlayer             -> {'Gabashvili T.': 0, 'Rochus C.': 1, 'Gimeno-Trave