<center>

# Web Intelligence

# Who will win the Tennis Australian Open 2020?

## 03 Data Cleaning - Categorical Data Transformation

### Riccardo Spolaor (864877)

</center>

### Trasformazione Variabili Categoriali
Controllo solo le feature categoriali (Tipo = *Object*) e procedo alla loro trasformazione in variabili numeriche.

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
dataframe = pd.read_csv('./datasets/dataframe01.csv', low_memory = False)
dataframe.head()

,csvID,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,...,LPts,LPtsAdded,MaxW,MaxWAdded,MaxL,MaxLAdded,AvgW,AvgWAdded,AvgL,AvgLAdded
0,0,1.0,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,...,-1.0,1,1.953528,1,5.753002,1,1.816889,1,3.339702,1
1,0,1.0,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,...,-1.0,1,1.953528,1,5.753002,1,1.816889,1,3.339702,1
2,0,1.0,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,...,-1.0,1,1.120000,0,4.000000,0,1.110000,0,3.750000,0
3,0,1.0,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,...,-1.0,1,1.953528,1,5.753002,1,1.816889,1,3.339702,1
4,0,1.0,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3.0,...,-1.0,1,1.280000,0,3.800000,0,1.200000,0,3.550000,0

In [3]:
print ("Variabili Categoriali:")
print(dataframe.dtypes[dataframe.dtypes == object].index.values)

for value in dataframe.dtypes[dataframe.dtypes == object].index.values:
    print('\n', value, 'values length: ', len(dataframe[value].unique()))
    print('\t', dataframe[value].unique()[:20])

Variabili Categoriali:
['Location' 'Tournament' 'Date' 'Series' 'Court' 'Surface' 'Round'
 'Winner' 'Loser' 'Comment']

 Location values length:  111
	 ['Adelaide' 'Chennai' 'Doha' 'Auckland' 'Sydney' 'Melbourne' 'Bogota'
 'Milan' 'Copenhagen' 'Marseille' 'Vina del Mar' 'Buenos Aires' 'Memphis'
 'Rotterdam' 'Acapulco' 'Dubai' 'San Jose' 'Delray Beach' 'Scottsdale'
 'Indian Wells']

 Tournament values length:  209
	 ['AAPT Championships' 'TATA Open' 'Qatar Open' 'Heineken Open'
 'adidas International' 'Australian Open' 'Colombia Open' 'Milan Indoors'
 'Copenhagen Open' 'Marseille Open' 'Bellsouth Open' 'Copa AT&T'
 'Kroger St. Jude' 'ABN AMRO World Tennis Tournament' 'Abierto Mexicano'
 'Dubai Championships' 'Sybase Open' 'Citrix Tennis Championships'
 'Franklin Templeton Tennis Classic' 'Indian Wells TMS']

 Date values length:  4889
	 ['2001-01-01' '2001-01-08' '2001-01-15' '2001-01-29' '2001-02-12'
 '2001-02-19' '2001-02-26' '2001-03-05' '2001-03-12' '2001-03-19'
 '2001-04-09' '2001-04-16' '2001-04-23' '2001-04-30' '2001-05-07'
 '2001-05-14' '2001-05-21' '2001-05-28' '2001-06-11' '2001-06-18']

 Series values length:  8
	 ['International' 'Grand Slam' 'International Gold' 'Masters' 'Masters Cup'
 'ATP250' 'ATP500' 'Masters 1000']

 Court values length:  2
	 ['Outdoor' 'Indoor']

 Surface values length:  4
	 ['Hard' 'Clay' 'Carpet' 'Grass']

 Round values length:  8
	 ['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round' '4th Round' 'Round Robin']

 Winner values length:  933
	 ['Clement A.' 'Goldstein P.' 'Haas T.' 'Henman T.' 'Hewitt L.'
 'Johansson T.' 'Ljubicic I.' 'Malisse X.' 'Martin A.' 'Massu N.'
 'Pavel A.' 'Phau B.' 'Rochus C.' 'Stoltenberg J.' 'Tarango J.' 'Vinck C.'
 'Agenor R.' 'Black B.' 'Dent T.' 'Golmard J.']

 Loser values length:  1455
	 ['Gaudenzi A.' 'Jones A.' 'Smith L.' 'Rusedski G.' 'Arthurs W.'
 'Mantilla F.' 'Sargsian S.' 'Woodruff C.' 'Puentes G.' 'Sluiter R.'
 'Gimelstob J.' 'Woodbridge T.' 'Ilie A.' 'Grosjean S.' 'Kohlmann M.'
 'Popp A.' 'Malisse X.' 'Tarango J.' 'Phau B.' 'Vinck C.']

 Comment values length:  6
	 ['Completed' 'Retired' 'Walkover' 'Disqualified' 'Sched' 'Awarded']

Uso la tecnica dello ***one-hot-encoding*** per trasformare le feature con un numero limitato di label e che non presentano nessun tipo di struttura gerarchica (***Surface***, ***Comment***). 

Uso il ***Label Encoder*** per codificare ***Court*** a 0 o 1.

In [4]:
from sklearn.preprocessing import LabelEncoder

leCourt = LabelEncoder().fit(dataframe['Court'])

dataframe['Court'] = leCourt.transform(dataframe['Court'])


dataframe = pd.get_dummies(dataframe, prefix = ['', ''],
                   prefix_sep = '', columns = ['Surface', 'Comment'])

dataframe.columns

Index(['csvID', 'ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court',
       'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'WRankAdded', 'LRank',
       'LRankAdded', 'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5',
       'L5', 'Wsets', 'Lsets', 'WPts', 'WPtsAdded', 'LPts', 'LPtsAdded',
       'MaxW', 'MaxWAdded', 'MaxL', 'MaxLAdded', 'AvgW', 'AvgWAdded', 'AvgL',
       'AvgLAdded', 'Carpet', 'Clay', 'Grass', 'Hard', 'Awarded', 'Completed',
       'Disqualified', 'Retired', 'Sched', 'Walkover'],
      dtype='object')

In [5]:
for col in ['Clay', 'Grass', 'Hard', 'Awarded', 'Completed', 'Disqualified','Retired', 'Sched', 'Walkover']:
    print (col,'number of entries:', dataframe[dataframe[col]==1].shape[0])

Clay number of entries: 16851
Grass number of entries: 5862
Hard number of entries: 27678
Awarded number of entries: 1
Completed number of entries: 50014
Disqualified number of entries: 1
Retired number of entries: 1662
Sched number of entries: 2
Walkover number of entries: 265

Per quanto riguarda i ***Round***:
* Posso assegnare alle feature un valore numerico crescente in base all'importanza del Round:
    * *1st Round* < *2nd Round* < *3rd Round* < *4th Round* < *Round Robin* < *Quarterfinals* < *Semifinals* < *The Final*;

In [6]:
print('Tipi di Round:')

print(dataframe['Round'].unique())

roundsOrdered = {'1st Round': 0, '2nd Round': 1, 'Quarterfinals': 5, 'The Final': 7, 'Semifinals': 6,
 '3rd Round': 2, '4th Round': 3, 'Round Robin': 4}

dataframe['Round'] = dataframe['Round'].apply(lambda x : roundsOrdered[x])

Tipi di Round:
['1st Round' '2nd Round' 'Quarterfinals' 'Semifinals' 'The Final'
 '3rd Round' '4th Round' 'Round Robin']

Per quanto riguarda la colonna ***Series***:

* Posso assegnare alle feature un valore numerico crescente in base all'importanza del tipo di torneo:
    * *ATP 250 = International* < *ATP 500 = International Gold* < *Masters 1000 = Masters* < *Masters Cup = ATP Finals* < *Grand Slam*

In [7]:
print('Tipi di Tornei:')

print(dataframe['Series'].unique())

pd.DataFrame(columns = ['Series','WPts'], data = [
    ['Grand Slam', 2000],
    ['Masters Cup/ATP Finals', 1500],
    ['ATP250/International', 250],
    ['ATP500/International Gold', 500],
    ['Masters/Masters 1000', 1000],
])

Tipi di Tornei:
['International' 'Grand Slam' 'International Gold' 'Masters' 'Masters Cup'
 'ATP250' 'ATP500' 'Masters 1000']

                      Series  WPts
0                 Grand Slam  2000
1     Masters Cup/ATP Finals  1500
2       ATP250/International   250
3  ATP500/International Gold   500
4       Masters/Masters 1000  1000

In [8]:
seriesOrdered = {'ATP250': 0, 'International': 0, 'ATP500': 1,'International Gold': 1, 'Masters' : 2, 'Masters 1000': 2,
                'Masters Cup': 3, 'Grand Slam': 4}
dataframe['Series'] = dataframe['Series'].apply(lambda x : seriesOrdered[x])

La feature ***Tournament*** presenta troppi label distinti.
Per non allargare troppo il Dataframe con lo ***one-hot-encoding*** su tutti i label:
* Seleziono i primi 25 Tornei piÃ¹ prestigiosi e li categorizzo in ordine crescente partendo da 1;
* Gli altri li categorizzo con 0.

In [9]:
print('Grand Slam: ', dataframe[dataframe['Series']==4]['Tournament'].unique(), '\n')
print('Masters Cup: ', dataframe[dataframe['Series']==3]['Tournament'].unique(), '\n')
print('Masters 1000: ', dataframe[dataframe['Series']==2]['Tournament'].unique()[:20], '\n')
print('ATP500: ', dataframe[dataframe['Series']==1]['Tournament'].unique()[:20], '\n')
print('ATP250: ', dataframe[dataframe['Series']==0]['Tournament'].unique()[:20], '\n')

Grand Slam:  ['Australian Open' 'French Open' 'Wimbledon' 'US Open']

Masters Cup:  ['Masters Cup']

Masters 1000:  ['Indian Wells TMS' 'Ericsson Open' 'Monte Carlo Masters' 'Rome TMS'
 'Hamburg TMS' 'Montreal TMS' 'Cincinnati TMS' 'Stuttgart TMS'
 'BNP Paribas' 'Pacific Life Open' 'NASDAQ-100 Open' 'Toronto TMS'
 'Madrid Masters' 'Telecom Italia Masters Roma'
 'Western & Southern Financial Group Masters' 'Rogers Cup'
 "Campionati Internazional d'Italia" 'Rogers Masters' 'Sony Ericsson Open'
 "Internazionali BNL d'Italia"]

ATP500:  ['Kroger St. Jude' 'ABN AMRO World Tennis Tournament' 'Abierto Mexicano'
 'Dubai Championships' 'Mercedes Cup' 'Generali Open' 'RCA Championships'
 'Legg Mason Classic' 'Japan Open' 'Grand Prix de Lyon' 'CA Tennis Trophy'
 'Open Seat Godo' 'Regions Morgan Keegan Championships'
 "Dubai Duty Free Men's Open" 'Pilot Pen Tennis' 'BA-CA Tennis Trophy'
 'Dubai Tennis Championships' 'Austrian Open'
 'AIG Japan Open Tennis Championships' 'Open Sabadell AtlÃ¡ntico 2008']

ATP250:  ['AAPT Championships' 'TATA Open' 'Qatar Open' 'Heineken Open'
 'adidas International' 'Colombia Open' 'Milan Indoors' 'Copenhagen Open'
 'Marseille Open' 'Bellsouth Open' 'Copa AT&T' 'Sybase Open'
 'Citrix Tennis Championships' 'Franklin Templeton Tennis Classic'
 'Grand Prix Hassan II' 'Estoril Open' 'Verizon Tennis Challenge'
 'Open Seat Godo' "U.S. Men's Clay Court Championships" 'Mallorca Open']

Includo tutti i tipi di *Grand Slam*, il torneo *Masters Cup*, tutti i tornei del tipo *Masters 1000* e i primi 10 tornei dell'*ATP500* classificati secondo **Tennis365**

Fonti: <br>
* https://www.tennis365.com/tennis-top-10/top-10-atp-tour-500-series-events-where-does-queens-club-rank/
* https://www.tennis365.com/tennis-top-10/top-10-biggest-non-grand-slam-tournaments-on-the-tennis-tour/
* https://www.forbes.com/sites/monteburke/2012/05/30/what-is-the-most-prestigious-grand-slam-tennis-tournament/#2370e5097696

In [10]:
def encodeTournaments():
    grandSlams = ['Wimbledon', 'US Open', 'French Open', 'Australian Open']
    mastersCup = ['Masters Cup']
    masters1000 = ['Rogers Masters','BNP Paribas Masters', 'Shanghai Masters', 'Monte Carlo Masters', 
                   'Western & Southern Financial Group Masters', 
                   'Sony Ericsson Open', 'Mutua Madrid Open', 'Mutua MadrileÃ±a Madrid Open', 
                   'Internazionali BNL d\'Italia', 'BNP Paribas Open']
    atp500best = ['Citi Open','Halle Open', 'Dubai Tennis Championships', 'China Open', 'ABN AMRO World Tennis Tournament', 
              'Swiss Indoors', 'Rakuten Japan Open Tennis Championships','German Open Tennis Championships',
              'Open Banco Sabadell', 'Queen\'s Club Championships']
    
    tournamentsDict = {t:i+1 for i,t in enumerate(atp500best[::-1] + masters1000[::-1] + mastersCup +
                                                  grandSlams[::-1])}
    
    dataframe['Tournament'] = dataframe['Tournament'].apply(lambda x : 
                                                               tournamentsDict[x] if x in tournamentsDict
                                                               else 0)

encodeTournaments()
from sklearn.preprocessing import LabelEncoder

#leTournament = LabelEncoder().fit(dataframe['Tournament'])
leLocation = LabelEncoder().fit(dataframe['Location'])

#dataframe['Tournament'] = leTournament.transform(dataframe['Tournament'])
dataframe['Location'] = leLocation.transform(dataframe['Location'])

Trasformare le feature ***Winner*** e ***Loser*** con lo **one-hot-encoding** allargherebbe troppo il dataframe:
* Ordino i giocatori in base alla differenza tra il numero delle loro vittorie e quello delle loro sconfitte;
* Creo delle colonne per i migliori 25 giocatori per il giocatore A e il giocatore B che assumono i valori:
    * 1 se il giocatore Ã¨ il giocatore indicato nella colonna;
    * 0 altrimenti
* Aggiungo una colonna *OtherA* e *OtherB* per indicare se il giocatore non Ã¨ tra i top 25.

In [11]:
def setBest25Players():
    players = dataframe['Winner'].value_counts().subtract(dataframe['Loser'].value_counts(), fill_value = 0).sort_values(ascending = False).index

    for p in players[:25]:
        dataframe[p+'A'] = dataframe['Winner'].apply(lambda x: int(x == p))
        dataframe[p+'B'] = dataframe['Loser'].apply(lambda x: int(x == p))
        
    dataframe['OtherA'] = dataframe['Winner'].apply(lambda x: int(x not in players[:25]))
    dataframe['OtherB'] = dataframe['Loser'].apply(lambda x: int(x not in players[:25]))

setBest25Players()

In [12]:
dataframe.head()

,csvID,ATP,Location,Tournament,Date,Series,Court,Round,Best of,Winner,...,Isner J.A,Isner J.B,Moya C.A,Moya C.B,Davydenko N.A,Davydenko N.B,Gonzalez F.A,Gonzalez F.B,OtherA,OtherB
0,0,1.0,2,0,2001-01-01,0,1,0,3.0,Clement A.,...,0,0,0,0,0,0,0,0,1,1
1,0,1.0,2,0,2001-01-01,0,1,0,3.0,Goldstein P.,...,0,0,0,0,0,0,0,0,1,1
2,0,1.0,2,0,2001-01-01,0,1,0,3.0,Haas T.,...,0,0,0,0,0,0,0,0,0,1
3,0,1.0,2,0,2001-01-01,0,1,0,3.0,Henman T.,...,0,0,0,0,0,0,0,0,1,1
4,0,1.0,2,0,2001-01-01,0,1,0,3.0,Hewitt L.,...,0,0,0,0,0,0,0,0,0,1

In [13]:
dataframe.to_csv('./datasets/dataframe02.csv', index = False)